.App {
  width: auto;
  height: auto;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.row {
  margin: 0;
  padding: 0;
}

.inicio-presentacion {
  height: 100vh;
  width: auto;
  background-image: url("./assets/imagenes/plant-inicio-2004483_1920.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.conocenos {
  height: auto;
  width: auto;
  background-color: #ffff;
  padding: 3em;
}

.categoria-plantas .container .card {
  margin-top: 10em;
  margin-bottom: 5em;
}
